* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #F2DCC2, #A67A53, #8C513B);
    color: white;
    font-family: 'Playfair Display', serif;
    min-height: 100vh; <!-- NOTE -->
}

header {
    font-size: 1.5rem;
}

header,form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-image: white;

}